<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="Profile_container">
    <div class="profile_inner">
        <h1>Профиль</h1>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Баллы:</p>
        <button class="mybutton"><a class="mylinks" href="{% url 'home' %}">На главную страницу</a></button>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="mybutton">Выйти</button>
        </form>

        
    </div>
</body>
</html>