<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="themes_body">
    <div class="nav-links">
        <br>
        <h3>1–4 классы (начальная школа)</h3>
        <br>
        <a href="/themes/naturalnumber/">Натуральные числа и их свойства</a>
        <a href="/themes/arithmeticoperations/">Арифметические действия</a>
        <a href="/themes/units/">Единицы измерения</a>
        <a href="/themes/geofigures/">Геометрические фигуры</a>
        <a href="/themes/simpleequations/">Простейшие уравнения</a>
        <a href="/themes/multiplication/">Табличное и устное умножение/деление</a>
        <br>
        <h3>5–6 классы (основы алгебры и геометрии)</h3>
        <br>
        <a href="/themes/fractions/">Дроби и десятичные числа</a>
        <a href="/themes/percents/">Проценты и пропорции</a>
        <a href="/themes/integers/">Целые числа и координаты</a>
        <a href="/themes/inequalities/">Простейшие уравнения и неравенства</a>
        <a href="/themes/geometrybase/">Основы геометрии</a>
        <a href="/themes/area/">Площадь и объем фигур</a>
        <br>
        <h3>7–9 классы (углубленная алгебра и геометрия)</h3>
        <br>
        <a href="/themes/quadraticequations/">Линейные и квадратные уравнения</a>
        <a href="/themes/systesmequations/">Системы уравнений</a>
        <a href="/themes/functions/">Функции</a>
        <a href="/themes/pythagoras/">Теорема Пифагора</a>
        <a href="/themes/volume/">Площади и объемы сложных фигур</a>
        <a href="/themes/statistics/">Статистика и вероятность</a>
        <a href="/themes/trygonometry/">Тригонометрия</a>
        <br>
        <h3>10–11 классы (подготовка к ЕГЭ/ОГЭ, высшая математика)</h3>
        <br>
        <a href="/themes/derivative/">Производная и её применение</a>
        <a href="/themes/integrals/">Интегралы</a>
        <a href="/themes/logarithms/">Логарифмы и показательные уравнения</a>
        <a href="/themes/combinatorics/">Комбинаторика и теории вероятностей</a>
        <a href="/themes/economicsstatistics/">Экономические и статистические задачи</a>
        <a href="/themes/vectorscoordinates/">Векторы и координаты в пространстве</a>
        <br>
        <a href="/">Домой</a>
    </div>
</body>
</html>