<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Единицы измерения</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 20px;
            max-width: 800px;
            margin: auto;
            background-color: #f9f9f9;
        }
        h1, h2 {
            color: #333;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body class="themes_theme">
    <h1>Единицы измерения</h1>
    
    <h2>Что такое единицы измерения?</h2>
    <p>Единицы измерения – это стандартизированные величины, используемые для количественного описания различных физических свойств, таких как длина, масса, время и объем.</p>
    
    <h2>Основные единицы измерения</h2>
    
    <h3>Длина</h3>
    <p>Длина измеряется в метрах (м). Другие единицы длины:<br>
    1 км = 1000 м,<br>
    1 м = 100 см,<br>
    1 см = 10 мм.</p>
    
    <h3>Масса</h3>
    <p>Масса измеряется в килограммах (кг). Другие единицы массы:<br>
    1 т = 1000 кг,<br>
    1 кг = 1000 г,<br>
    1 г = 1000 мг.</p>
    
    <h3>Время</h3>
    <p>Время измеряется в секундах (с). Другие единицы времени:<br>
    1 мин = 60 с,<br>
    1 ч = 60 мин,<br>
    1 сут = 24 ч.</p>
    
    <h3>Объем</h3>
    <p>Объем измеряется в литрах (л) или кубических метрах (м³). Другие единицы объема:<br>
    1 м³ = 1000 л,<br>
    1 л = 1000 мл.</p>
    
    <h2>Применение единиц измерения</h2>
    <p>Единицы измерения используются в науке, технике, строительстве, медицине и повседневной жизни, обеспечивая точность и стандартизацию измерений.</p>
    <div class="backbuttons">
        <a href="/themes/">Назад</a>
        <a href="/">На главную страницу</a>
    </div>
</body>
</html>
